<footer class="footer">
    <hr>
    <p>
        Have any suggestions or feedback? Let us know on <a href="https://github.com/millimetr/millimetr-default/issues/new" target="_blank" class="footer__link">Github</a>.
    </p>
</footer>