<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/assets/normalize.css">
  <link rel="stylesheet" href="/assets/styles.css">

  <!-- Third-party libraries -->

  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
  <script derer src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
  <script defer src="https://unpkg.com/htm"></script>
  <script defer src="https://unpkg.com/preact"></script>
  <script defer src="https://unpkg.com/preact@10.0.0/hooks/dist/hooks.umd.js"></script>

  <!-- Project code -->

  <script defer src="/assets/scripts.js"></script>
</head>
